
@tailwind base;
@tailwind components;
@tailwind utilities;


.hero {
  background: linear-gradient(90deg, #0a3d91, #02b39b);
}

.nav-link {
  position: relative;
  transition: color 0.3s;
}
.nav-link:hover {
  color: #0d9488; 
}


.btn-primary {
  background: #14b8a6;
  color: white;
  font-weight: 600;
  padding: 0.75rem 1.5rem;
  border-radius: 0.5rem;
  transition:  0.3s;
}
.btn-primary:hover {
  background: #0d9488; 
}

.btn-secondary {
  background: white;
  color: #111827; 
  font-weight: 600;
  padding: 0.75rem 1.5rem;
  border-radius: 0.5rem;
  transition:  0.3s;
}
.btn-secondary:hover {
  background: #f3f4f6; 
}



body {
  font-family: 'Inter', sans-serif;
}


.nav-link {
  transition: color 0.3s;
}

.nav-link:hover {
  color: #14b8a6; 
}


input, textarea {
  transition: all 0.3s ease;
}


@media (max-width: 768px) {
  main {
    flex-direction: column;
  }
}
